{% extends "base.html" %}
{% load static %}

{% block page_title %}
This is a single post title
{% endblock page_title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id='summary'>
        <h2>
            Post Title
        </h2>
        <article>
            <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title"/>
            <address>By Kevin</address>
            <div>
                Last update on <time datetime=''>2023-01-01</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {% lorem 1 b random %}
        </p>
    </main>
{% endblock content %}